/* 实现分栏 */
.dropdown-menu-columns-class {
    display: flex;
}

/* 插入页面嵌套样式设置 */
/* 页面展示框样式 */
.page-show-card-body-class {
    background-color: var(--bs-dark-border-subtle);
}
/* 页面框样式 */
.page-show-iframe-class {
    margin-left: auto;  
    margin-right: auto;  
    display: block;  
    min-height: 400px; 
    /* 移动端宽度 */
    /* max-width: 600px; */
}

/* 插入js代码样式 */
/* 代码块样式 */
pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
    margin: auto;
    min-height: 100px;
    max-height: 500px;
}
/* 代码样式 */
code {
    font-family: 'Courier New', monospace;
    font-size: 14px;
}
/* 高亮关键词样式 */
.highlight {
    color: #d73a49;
    font-weight: bold;
}


