/* 实现分栏 */
.dropdown-menu-columns-class {
    display: flex;
}

/* 代码展示框样式 */
.page-show-card-body-class {
    background-color: var(--bs-dark-border-subtle);
}

.page-show-iframe-class {
    margin-left: auto;  
    margin-right: auto;  
    display: block;  
    min-height: 400px; 
    /* 移动端宽度 */
    /* max-width: 600px; */
}

/*  */
.js-answer-output-area-class {
    height: 200px;
}