<!-- 父组件 -->

<!-- 导航栏 -->
<navbar-component current-question-obj="currentQuestionObj" current-page-template-obj='currentPageTemplateObj'></navbar-component>

<div ng-if="currentPageTemplateObj.isShowedCssAnswerArea">
    <!-- css答案区 -->
    <answer-component current-question-obj="currentQuestionObj"></answer-component>
</div>

<div ng-if="currentPageTemplateObj.isShowedJsAnswerArea">
    <!-- js答案区 -->
    <js-answer-component current-question-obj="currentQuestionObj"></js-answer-component>
</div>



