<nav class="navbar navbar-expand-md bg-body-tertiary fixed-top d-print-none">
    <div class="container-fluid">
        <!-- logo -->
        <a class="navbar-brand" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu-id" aria-controls="navbar-menu-id" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- nav menu -->
        <div class="collapse navbar-collapse" id="navbar-menu-id">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#!/demoTest">
                        测试   
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        HTML笔记   
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-menu-columns-class">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="#!/htmlBlogTemplate" ng-click="">
                                    写在前面
                                </a>
                                <a class="dropdown-item" href="#!/demoinblog" ng-click="">
                                    笔记
                                </a>
                                <a class="dropdown-item" href="#!/demoinblog" ng-click="">
                                    应用
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        CSS笔记   
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-menu-columns-class">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="#" ng-click="vm.SelectQuestionIndex(3, 1)">
                                    question 1
                                </a>
                            </div>
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="#" ng-click="vm.SelectQuestionIndex(3, 6)">
                                    question 2
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#!/cssAnswer" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        CSS题目   
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-menu-columns-class">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectCssQuestionIndex(1)">
                                    question 1
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectCssQuestionIndex(2)">
                                    question 2
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectCssQuestionIndex(3)">
                                    question 3
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectCssQuestionIndex(4)">
                                    question 4
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectCssQuestionIndex(5)">
                                    question 5
                                </a>
                            </div>
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectCssQuestionIndex(6)">
                                    question 6
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectCssQuestionIndex(7)">
                                    question 7
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectCssQuestionIndex(8)">
                                    question 8
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectCssQuestionIndex(9)">
                                    question 9
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectCssQuestionIndex(10)">
                                    question 10
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        JS题目    
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-menu-columns-class">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(1)">
                                    question 1
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(2)">
                                    question 2
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(3)">
                                    question 3
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(4)">
                                    question 4
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(5)">
                                    question 5
                                </a>

                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(6)">
                                    question 6
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(7)">
                                    question 7
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(8)">
                                    question 8
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(9)">
                                    question 9
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(10)">
                                    question 10
                                </a>
                            </div>
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(11)">
                                    question 11
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(12)">
                                    question 12
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(13)">
                                    question 13
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(14)">
                                    question 14
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(15)">
                                    question 15
                                </a>

                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(16)">
                                    question 16
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(17)">
                                    question 17
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(18)">
                                    question 18
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(19)">
                                    question 19
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectJSQuestionIndex(20)">
                                    question 20
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#!/cssAnswer" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                        示例   
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-menu-columns-class">
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectDemoPageQuestionIndex(1, 'html')">
                                    1. 购物车功能<span class="badge rounded-pill text-bg-success" style="margin-left: 10px;">done</span>
                                </a>
                                <a class="dropdown-item" href="#!/jsAnswer" ng-click="vm.SelectDemoPageQuestionIndex(2, 'js')">
                                    2. 单词计数<span class="badge rounded-pill text-bg-success" style="margin-left: 10px;">done</span>
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectDemoPageQuestionIndex(3, 'html')">
                                    3. 时钟<span class="badge rounded-pill text-bg-success" style="margin-left: 10px;">done</span>
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectDemoPageQuestionIndex(4)">
                                    4. 图片轮播
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectDemoPageQuestionIndex(5)">
                                    5. 拖拽效果
                                </a>
                            </div>
                            <div class="dropdown-menu-column">
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectDemoPageQuestionIndex(6)">
                                    6. 本地存储 6
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectDemoPageQuestionIndex(7)">
                                    7. 密码强度检查 7
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectDemoPageQuestionIndex(8)">
                                    8. 异步数据请求
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectDemoPageQuestionIndex(9)">
                                    9. 模态框 9
                                </a>
                                <a class="dropdown-item" href="#!/cssAnswer" ng-click="vm.SelectDemoPageQuestionIndex(10)">
                                    10. 游戏：猜数字 10
                                </a>
                            </div>
                        </div>
                    </div>
                </li>


            </ul>
            
        </div>
    </div>
</nav>

<!-- 防下面元素被nav盖住 -->
<div style="height: 53px;"></div>