<div class="d-flex" id="wrapper">
    <!-- sidebar--> 
    <div class="col-2">
        <sidebar-component g-rm="vm.RM" g-robots-options-obj="vm.robotsOptionsObj" g-str-state-text="vm.strStateText" g-str-state-style="vm.strStateStyle" g-str-answer-text="vm.strAnswerText" g-str-active-measure-state="vm.strActiveMeasureState"></sidebar-component>
    </div>    
    
    <!-- article -->
    <div class="col-10">
        <article-component g-rm="vm.RM"></article-component>
    </div>
</div>

<!-- 切换机器人模态 -->
<robot-switch-modal-component g-rm="vm.RM"></robot-switch-modal-component>

<!-- 机器人管理模态 -->
<robot-manager-modal-component g-rm="vm.RM"></robot-manager-modal-component>  